{% extends "layout.html" %}

{% block title %}
Nominate a song
{% endblock %}



{% block main %}
<h1>Nominate a song</h1>

<form action="/nominate" method="post">
    <div>
        <input autocomplete="off" autofocus  id="name" name="name" placeholder="Song Name" type="text">
    </div>
    <div>
        <input autocomplete="off" id="country" name="country" placeholder="Country" type="text">
    </div>
    <div>
        <input autocomplete="off" id="artist" name="artist" placeholder="Artist" type="text">
    </div>
    <div>
        <input autocomplete="off" id="language" name="language" placeholder="Language" type="text">
    </div>
    <div>
        <input autocomplete="off" id="year" name="year" placeholder="Year" type="number">
    </div>
    <button type="submit">Nominate</button>
</form>
{% endblock %}
